* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* BODY */

.row {
    padding-top: 20px;
    margin: 0 auto;
    width: 80%;
}

.product {
    display: inline-block;
    cursor: pointer;
    width: calc(100% / 3);
    padding: 15px;
}

.product .pic {
    position: relative;
    height: 600px;
    overflow: hidden;
    margin-bottom: 10px;
}

.product img {
    position: absolute;
    max-height: 100%;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

.product img:nth-child(2) {
    display: none;
}

.product:hover img:nth-child(2) {
    display: block;
}

.product .tag {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
}

.product .like {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    padding: 15px;
}

.product .like:hover {
    color: red;
    display: block;
}

.product .discount {
    padding: 5px;
    color: white;
    font-size: small;
    font-weight: bolder;
    background-color: red;
  }

.product .extra-tag {
    padding: 5px;
    color: white;
    font-size: small;
    font-weight: bolder;
    background-color: green;
}

.product .brand,.product .name, .product .price {
    display: block;
}

.product .brand {
    font-size: 0.8rem;
}

.product .name {
    font-weight: bold;
    text-transform: uppercase;
}

.product .price-sale {
    font-weight: bold;
    color: red;
}

.product .price-old {
    text-decoration: line-through;
}